<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="{{ '/assets/general/style.css' | absolute_url }}">
		{% if page.ex_style %}
			<link rel="stylesheet" href="{{ page.ex_style | absolute_url }}">
		{% endif %}
	</head>
	<body>
		<h1>{{ page.title }}</h1>
		<noscript>Any equations or other mathematical symbols will not show up properly if JavaScript is disabled. You have the power to change this. Probably.</noscript>
		{{ content }}
	</body>
</html>
